<% content_for :title do %>Sample Pi-Hole Dashboard<% end %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pihole" data-view="Pihole" data-unordered="true" data-title="Pi-Hole AdBlocking"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="pihole-meter" data-view="Meter" data-title="Pi-Hole %age Of Ads Today" data-min="0" data-max="100" data-suffix="%"></div>
    </li>
  </ul>
</div>
