$text: #fff;

.widget-pihole {
  li {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 15;
    background-color: #86d751;

    h1 {
      font-size: 25px;
    }
  
    h3 {
      font-size: 50px;
      font-weight: bold;
    }
  
    h4 {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    p &.updated-at {
      font-size: 10px;
    }
  }
}
